<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% include 'head.html' %}
		<script type="text/javascript">
		//shareaholic plugin
		//<![CDATA[
		  (function() {
		    var shr = document.createElement('script');
		    shr.setAttribute('data-cfasync', 'false');
		    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
		    shr.type = 'text/javascript'; shr.async = 'true';
		    shr.onload = shr.onreadystatechange = function() {
		      var rs = this.readyState;
		      if (rs && rs != 'complete' && rs != 'loaded') return;
		      var site_id = '00105be641441c0efc050070c8daaa27';
		      try { Shareaholic.init(site_id); } catch (e) {}
		    };
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(shr, s);
		  })();
		//]]>
		</script>				
    </head>
    <body>
        <div id="wrap">
            {% include 'nav.html' %}            
            <div class="container">
                <div>
                    <script>
                      (function() {
                        var cx = '004136564319490649004:a1zcnc1-tyk';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                            '//www.google.com/cse/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                      })();
                    </script>
                    <gcse:search></gcse:search>
                </div>

                {% block content %}
                    {{ page.content }}
                {% endblock %}
            </div>
        </div>
            
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        {% include 'menu.html' with { menu: site.bottom_menu } %}
                    </div>
                    <div class="col-md-6 text-right">
                        {% include 'social-network.html' %}
                    </div>
                </div>
                <p class="text-center">
                    <a href="https://github.com/yosymfony/Spress-theme-spresso" title="Spresso theme">
                        <img src="{{ site.url }}/assets/img/{{ site.logo }}"/>
                    </a>
                </p>
                <p class="text-center">
                    &copy; {{ 'now' | date('Y') }} {{ site.author.name }}.
                    Powered by <a href="https://github.com/yosymfony/Spress">Spress</a>.
                </p>
            </div>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
            
            {% if site.code_highlight %}
            <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
            <script>hljs.initHighlightingOnLoad();</script>
            {% endif %}
            
            {% block javascript %}{% endblock %}
        </footer>
		
    </body>
</html>
