---
layout: default
---
{% set isPostLayout = true %}

{% block content %}
    {% include 'post.html' with { 'post': page } %}
	<div class='shareaholic-canvas' data-app='share_buttons' data-app-id='14207366'></div>
	
	<!-- Google AdSense -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Horizontal Pequeno 234x60 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:234px;height:60px"
	     data-ad-client="ca-pub-5921494036699240"
	     data-ad-slot="4233313528"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>	                  
{% endblock %}

{% block javascript %}
    {% if (page.comments is defined and page.comments) or (page.comments is not defined and site.comments.enabled) %}
        <script type="text/javascript">
            var disqus_shortname = '{{ site.comments.disqus_shortname }}';
            
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    {% endif %}
	
{% endblock %}